.hero {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  padding-top: 60px;
  margin-bottom: 80px;
}

.hero-title {
  position: relative;
  font-size: 64px;
  font-weight: 600;
  margin-bottom: 24px;
}

.hero-title::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -156.5px;
  width: 139px;
  height: 58px;
  background: url('../../assets/images/badge/right-top.jpg') center/contain no-repeat;
  border-radius: var(--border-radius);
}

.hero-title::after {
  content: '';
  position: absolute;
  top: -32px;
  right: -156.5px;
  width: 139px;
  height: 58px;
  background: url('../../assets/images/badge/right-top.jpg') center/contain no-repeat;
  border-radius: var(--border-radius);
}

.hero-title-accent {
  background: var(--color-gradient-accent);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-description {
  position: relative;
  max-width: 736px;
  margin-bottom: 40px;
  color: var(--color-white-64);
}

.hero-description::after {
  content: '';
  position: absolute;
  bottom: -60px;
  right: 92.5px;
  width: 139px;
  height: 58px;
  background: url('../../assets/images/badge/right-top.jpg') center/contain no-repeat;
  border-radius: var(--border-radius);
}

.hero-button {
  position: relative;
}

.hero-button::before {
  content: '';
  position: absolute;
  top: -294px;
  left: -236px;
  width: 320px;
  height: 320px;
  pointer-events: none;
  background: url('../../assets/images/mesh/yellow.png') center/contain no-repeat;
}

.hero-button::after {
  content: '';
  position: absolute;
  top: -280px;
  right: -340px;
  width: 480px;
  height: 480px;
  pointer-events: none;
  background: url('../../assets/images/mesh/blue.png') center/contain no-repeat;
}