.partners {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 60px;
  padding-top: 40px;
  margin-bottom: 80px;
}

.partners-list {
  display: flex;
  column-gap: 32px;
}

.partners-item {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding: 24px;
  cursor: pointer;

  border: var(--border-width) solid transparent;
  border-radius: var(--border-radius);
  overflow: hidden;

  background:
    var(--color-gradient-badge-bg) padding-box,
    var(--color-gradient-stroke-width) border-box;
}

.partners-item::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  pointer-events: none;
  z-index: 1;

  background:
    var(--color-gradient-accent) padding-box,
    var(--color-gradient-stroke-width) border-box;

  opacity: 0;
  transition: opacity var(--transition-duration) ease;
}

.partners-item:hover::after {
  opacity: 1;
}

.partners-item > * {
  position: relative;
  z-index: 2;
}

.partners-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: var(--line-height);
}

.partners-item:hover .partners-item-title {
  color: var(--color-black);
}

.partners-item:hover .partners-item-image {
  filter: brightness(0);
}

.partners-item:hover .partners-item-description {
  color: var(--color-black-64);
}
