.partners {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 60px;
  padding-top: 40px;
  margin-bottom: 80px;
}

.partners-list {
  display: flex;
  column-gap: 32px;
}

.partners-item {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding: 24px;
  border: var(--border-width) solid transparent;
  border-radius: var(--border-radius);

  background:
    linear-gradient(#000, #000) padding-box,
    var(--color-gradient-stroke-width) border-box;
}

.partners-item:hover {
  cursor: pointer;
}

.partners-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: var(--line-height);
}
