.button {
  display: flex;
  align-items: center;
  column-gap: 10px;
  line-height: var(--line-height);
  border: none;
  border-radius: 1000px;
  background-image: var(--color-gradient-accent);
}

.button-md {
  font-weight: 500;
  padding-inline: 24px;
  height: var(--button-height-md);
  box-shadow:
    0 0 16px 0 rgba(245 231 116 / 0.48),
    0 0 16px 0 rgba(5 163 231 / 0.48);
}

.button-md:hover {
  box-shadow: none;
}

.button-lg {
  font-size: 20px;
  font-weight: 600;
  padding-inline: 32px;
  height: var(--button-height-lg);
}

.button-lg:hover {
  box-shadow:
    0 0 16px 0 rgba(245 231 116 / 0.48),
    0 0 16px 0 rgba(5 163 231 / 0.48);
}