.button {
  display: flex;
  align-items: center;
  column-gap: 10px;
  line-height: var(--line-height);
  border: none;
  border-radius: 1000px;
  background-image: var(--color-gradient-accent);
}

.button-md {
  font-weight: 500;
  padding-inline: 24px;
  height: var(--button-height-md);
  box-shadow:
    0px 0px 16px 0px rgba(245, 231, 116, 0.48),
    0px 0px 16px 0px rgba(5, 163, 231, 0.48);
}

.button-md:hover {
  box-shadow: none;
}