.button {
  display: inline-flex;
  align-items: center;
  column-gap: 10px;
  line-height: var(--line-height);
  border: none;
  border-radius: 1000px;
  background-image: var(--color-gradient-accent);
}

.button::before {
  content: '';
  width: 17px;
  height: 17px;
  background: url('../../assets/icons/arrow-forward.svg') center/contain no-repeat;
}

.button-md {
  font-weight: 500;
  padding-inline: 24px;
  height: var(--button-height-md);
  box-shadow:
    0 0 16px 0 rgba(245 231 116 / 0.48),
    0 0 16px 0 rgba(5 163 231 / 0.48);
}

.button-md:hover {
  box-shadow: none;
}

.button-lg {
  font-size: 20px;
  font-weight: 600;
  padding-inline: 32px;
  height: var(--button-height-lg);
}

.button-lg:hover {
  box-shadow:
    0 0 16px 0 rgba(245 231 116 / 0.48),
    0 0 16px 0 rgba(5 163 231 / 0.48);
}

@media (max-width: 768px) {
  .button-md {
    padding-inline: 20px;
    font-size: 15px;
  }

  .button-lg {
    font-size: 18px;
    padding-inline: 28px;
  }
}

@media (max-width: 480px) {
  .button-md {
    padding-inline: 18px;
    font-size: 14px;
  }

  .button-lg {
    font-size: 16px;
    padding-inline: 24px;
  }

  .button::before {
    width: 14px;
    height: 14px;
  }
}