@font-face {
  font-family: 'Ping Fang SC';
  src: url('../../assets/fonts/PingFangSC-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ping Fang SC';
  src: url('../../assets/fonts/PingFangSC-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ping Fang SC';
  src: url('../../assets/fonts/PingFangSC-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}