body {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: var(--color-white-64);
  background-color: var(--color-black);
}

a, button, input, textarea, svg * {
  transition-duration: var(--transition-duration);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-white);
}

@media (max-width: 1024px) {
  body {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 14px;
  }
}