:root {
  --color-white: #fff;
  --color-white-64: #ffffffa3;
  --color-black: #16181a;
  --color-black-64: #000000a3;

  --color-gradient-accent: linear-gradient(90deg, #F5E774 0%, #05A3E7 100%);
  --color-geadient-badge-bg: linear-gradient(135deg,rgba(255,255,255,.04) 0%,rgba(255,255,255,.01) 100%);
  --color-gradient-stroke-width: linear-gradient(135deg,rgba(255,255,255,.64) 0%,rgba(255,255,255,.08) 100%);

  --border-radius: 4px;

  --font-family: 'Ping Fang SC', sans-serif;
}