:root {
  --color-white: #fff;
  --color-white-64: #ffffffa3;
  --color-black: #16181a;
  --color-black-64: #000000a3;

  --color-gradient-accent: linear-gradient(90deg, #F5E774 0%, #05A3E7 100%);
  --color-gradient-badge-bg: linear-gradient(135deg, rgba(0 0 0 / .55), rgba(0 0 0 / .3));
  --color-gradient-stroke-width: linear-gradient(135deg,rgba(255 255 255 / .64) 0%,rgba(255 255 255 / .08) 100%);

  --border-width: 1px;
  --border-radius: 8px;
  --border: var(--border-width) solid var(--color-gradient-stroke-width);

  --font-family: 'Ping Fang SC', sans-serif;
  --line-height: 1.6;

  --button-height-md: 40px;
  --button-height-lg: 48px;

  --container-width: 1200px;
  --container-padding-x: 15px;

  --transition-duration: 0.4s;
}

@media (max-width: 1024px) {
  :root {
    --container-width: 960px;
  }
}

@media (max-width: 768px) {
  :root {
    --container-width: 100%;
    --container-padding-x: 20px;
  }
}

@media (max-width: 480px) {
  :root {
    --container-padding-x: 16px;
  }
}